.git
.github
.idea
.vscode
.zed
.history
.deploy
node_modules
web/**/node_modules
web/default/dist
web/classic/dist
electron/node_modules
electron/dist
data
logs
upload
*.db
*.db-journal
.env
.cache
.gocache
.gomodcache
__debug_bin*
*.exe
