.git
.github
.idea
.vscode
.zed
.history
.deploy
*.md
docs
docs-site
node_modules
**/node_modules
**/dist
/web/node_modules
/web/dist
electron/node_modules
electron/dist
data
logs
upload
*.db
*.db-journal
.env
.cache
.gocache
.gomodcache
__debug_bin*
*.exe
!THIRD-PARTY-LICENSES.md
